<?xml version="1.0" encoding="iso-8859-1"?>
<config>
	<info>
		<id>A40D51DA-C0A8-7D13-9310FA324A717A35</id>
		<version>1.201009062129</version>
		<name>CfJavascript-CfStyleSheet Extension</name>
		<type>server</type>
		<label>Cfjavascript-CfStyleSheet Extension</label>
		<description>Cfjavascript-CfStyleSheet Extension</description>
		<created>2010-September-6 21:29</created> 
		<category>Tag</category>
		<author>Andrea Campolonghi</author>
	</info>
</config>

